.global-transition-color {

  transition: all 2s ease-in-out;
  transition-property: color, background-color;

  * {
    transition: all 2s ease-in-out;
    transition-property: color, background-color;
  }
}

.italic-text {
  font-style: italic;
}