.global-transition-color {

  transition: all 2s ease-in-out;
  transition-property: color, background-color;

  * {
    transition: all 2s ease-in-out;
    transition-property: color, background-color;
  }
}

.italic-text {
  font-style: italic;
}

.viewport-height {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}